#analog-clock {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  .tick {
    stroke: black;
    stroke-width: 0.1;
    &.major {
      stroke-width: 0.5;
    }
  }
  .timeLeft {
    fill: #ff6161;
    .negative {
      fill: none;
      stroke: white;
      transform: rotate(-90deg);
      animation-name: timeLeft;
      animation-timing-function: linear;
      @keyframes timeLeft {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  .originalTime {
    fill: #ffcece;
  }
  .middleDot {
    fill: black;
  }
  text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 8px;
    font-variant-numeric: proportional-nums;
    cursor: default;
    &.interactive {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }
  .interactive-segment {
    fill: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}
