@import "variables";

#analog-clock {
  .layout--wide & {
    height: 100%;
  }
  .layout--square & {
    width: 100%;
  }

  .tick {
    stroke: black;
    stroke-width: 0.1;
    &.major {
      stroke-width: 0.5;
    }
  }
  .timeLeft {
    fill: $color-primary;
    opacity: 1;
    transition: opacity 0ms;
    .state--ready & {
      opacity: 0;
      transition: opacity 0ms 500ms;
    }
  }
  .originalTime {
    fill: $color-primary-light;
    transition: opacity 500ms;
    opacity: 1;
    .state--running & {
      opacity: 0;
    }
  }
  .inner-negative {
    fill: white;
  }
  .middleDot {
    fill: black;
  }
  text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 7px;
    font-variant-numeric: proportional-nums;
    user-select: none;
    cursor: default;
    &.interactive {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }
  .interactive-segment {
    fill: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .disabled-click-overlay {
    fill: transparent;
  }

  .end-animation {
    fill: none;
    transform: rotate(-90deg);
  }
}
