@import "variables";

#digital-clock {
  form {
    background-color: white;
    border-radius: $border-radius;
    position: relative;
    white-space: nowrap;
    width: 6.8ch;
    transition: width 1000ms;
    min-height: 1.4em;
    font-weight: 600;
  }
  .colon-prefix::before {
    content: ":";
    position: absolute;
  }

  input {
    z-index: 1;
    border-radius: $border-radius;
    border-color: lightgrey;
    transition: border-color 500ms;
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    font: inherit;
    color: inherit;
    text-align: right;
    box-shadow: none;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
    &:focus {
      outline: none;
      box-shadow: $highlight-focus;
    }
    &:disabled {
      background-color: white;
      -webkit-text-fill-color: inherit;
      opacity: 1;
    }
  }

  .ghost {
    color: lightgrey;
    border-color: transparent;
    cursor: default;
    transition: opacity 500ms 1000ms;
    .invisible {
      opacity: 0;
      transition-delay: 0s;
    }
  }

  input,
  .ghost {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.3ch;
    margin: 0;
    line-height: 1.4em;
    font-variant-numeric: tabular-nums;
  }

  .state--running &,
  .state--paused & {
    transition-delay: 500ms;
    .ghost {
      opacity: 0;
      transition-delay: 0s;
    }
    input {
      border-color: transparent;
    }
  }
  .layout--square.state--running & input {
    border-color: lightgray;
  }

  .state--paused & {
    input {
      animation: $animation-blink;
    }
  }
}
