body {
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: stretch;

  #analog-clock,
  #digital-clock,
  #controls {
    padding: 5vmin;
  }

  .sideBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--high {
    flex-direction: column;
  }

  &--square {
    .sideBlock {
      display: contents;
      > * {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        padding: 0;
        margin: auto;
      }
      #digital-clock {
        top: 50%;
      }
      #controls {
        top: 60%;
      }
    }
  }
}
