body {
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 8vmin;

  #analog-clock,
  #digital-clock,
  #controls {
    padding: 5vmin;
  }

  .controls-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--high {
    flex-direction: column;
  }

  &--square,
  &--wide {
    .controls-container {
      width: 9ch;
      > * {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        padding: 0;
        margin: auto;
      }
      #digital-clock {
        top: 50%;
      }
      #controls {
        top: 60%;
      }
    }
  }
  &--square {
    .controls-container {
      display: contents;
    }
  }
}
