html {
  position: fixed;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: fixed;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  font-variant-numeric: lining-nums;
  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 7vmin;

  #analog-clock,
  #digital-clock {
    padding: 5vmin;
  }

  .controls-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9ch;
  }

  &--high {
    flex-direction: column;
  }

  &--square {
    .controls-container {
      position: absolute;
      > * {
        position: absolute;
        left: 50%;
        padding: 0;
      }
      #digital-clock {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      #controls {
        top: 5vmin;
        transform: translateX(-50%);
      }
    }
  }
  &--wide {
    #controls {
      position: absolute;
      top: 15vmin;
    }
  }
}
